
/*------------------------------*\
    WORDPRESS DASHBOARD STYLES
\*------------------------------*/
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	width: 100%;
}

.interface-complementary-area__fill,
.interface-complementary-area {
	width: 380px !important;
}
  
.block-editor-block-types-list__item-icon {
	padding-bottom: 5px;
}

.block-editor-block-icon.has-colors svg {
	height: 3.3rem;
	width: auto;
	max-height: unset;
	max-width: unset;
}

.block-editor-inserter__panel-title {
	font-size: 1.5rem;
	font-weight: 900;
	color: black;
}

.wp-block-post-title {
    word-break: break-word;
    color: black;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
.other_buttons .button,
.max_width .button {
    cursor: pointer;
    padding: 0rem 1.5rem;
    line-height: normal;
    border-radius: 5rem;
    font-size: 1.6rem;
    font-family: var(--anton);
    transition: all .3s ease;
    background-color: transparent;
    color: var(--text_color);
}

.events_slider_parent .title {
    flex-wrap: nowrap;
}

.events_slider_parent .swiper-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}

.events_slider_parent {
    padding-top: 3rem;
    gap: 3rem;
}

.events_slider_parent .swiper-slide {
    min-width: 60rem;
}

.banner_slider_parent {
    padding: 7rem 0;
    overflow: hidden;
}

.events_slider_parent .swiper {
    margin: 0 auto;
}

.banner_slider_parent a {
    white-space: nowrap;
}

.banner_slider_parent .swiper-wrapper {
    display: flex;
    gap: 7rem;
    left: -10%;
    position: relative;
}

.large_title_icon_and_button_parent .icon {
	width: 8rem;
}

.podcasts_parent {
    padding-top: 6rem;
}

.homepage_intro_parent .spinning_image_container,
.max_width a,
section a
 {
	pointer-events: none;
}

.single_event_post_parent .content_area {
    gap: 4rem;
}

ul, strong {
	color: black;
}

section {
	background-color: var(--background_color);
}

.homepage_intro_parent {
	height: 79vh;
}

.mouse_move_images {
	height: 78vh;
}

.homepage_intro_parent .header_image {
    width: 52rem;
}

.homepage_intro_parent .spinning_image {
    width: 12rem;
}

.mouse_move_images {
    width: 120%;
    left: -10%;
}

.mouse_move_images img:nth-of-type(1) {
    transform: translate(0%, -68%);
}

.mouse_move_images img:nth-of-type(2) {
    transform: translateY(-55%);
}

.mouse_move_images img:nth-of-type(3) {
    transform: translateY(-22%);
}

.image_slider_parent {
    padding: 3rem 0;
} 

.image_slider_parent .swiper-wrapper {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    justify-content: center;
}

.image_slider_parent .swiper-slide {
    min-width: 22rem;
}
